/* 태그(타입) 선택자 */
pre{
    text-align: center;
    color: darkblue;
}
/* Class 선택자 */
.multi1{
    text-align: center;
    color: aqua;
}
.multi2{
    background-color: aqua;
    color: black;
}
.multi3{
    background-color: black;
}
/* id 선택자 */
#multi1{
    text-align: center;
    color: brown;
}
/* 전체 */
/* *{
    font-family: 궁서체;
    color:black;
    background-color: white;
    text-align: left;
} */

/* 자식 선택자 */
#children1 > div > p{
    background-color: aquamarine;
    color: red;
}

#children1 >p{
    color: blanchedalmond;
}

/* 하위 선택자 */
#children2 span{
    color: brown;
}

/* 인접 선택자 */
span + pre{
    color: hotpink;
    background-color: burlywood;
}

/* 가상클래스 선택자 */
/* 방문하지 않은 링크 */
a:link{
    color:green;
    font-size: 20pt;
}
/* 방문한 링크 */
a:visited{
    color:black;
    font-size: 10pt;
}

/* 링크에 마우스 오버시 */
a:hover{
    background-color: black;
}
/* 링크 클릭 시 */
a:active{
    background-color: aqua;
}
/*  체크 시 커짐 */
input:checked{
    width:100px;
    height:100px;
}

